@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
body{
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

.navigation-btn{
    position: fixed;
    background-color: red;
    bottom: 1rem;
    right: 1rem;
}

.Sidebar{
    width: 240px;

    .avatar{
        display: block;
        margin: 1rem auto;

    }
}

.s-container{
    .spendMoneyContainer{
        max-width: 300px;
        height: 150px;
        margin: 1rem;
        padding: 1rem;
        box-shadow:0.1px 0.8px 3px rgba(0,0,0,0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    
        .center-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        .top,.bottom{
            display: flex;
            justify-content: space-between;
    
            p{
                display: flex;
                align-items: center;
                margin: auto 0;
                .icon{
                    padding-right:0.4rem;
                    color: #202040;
                }
            }
        }
    
        .bottom{
            p:nth-child(1){
                font-size: 20px;
                width: 40%;
            }
            p:nth-child(2){
                font-size: 25px;
                padding-right: 0.7rem;
            }
        }
    }
}

